* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1296px;
    margin: 0 auto;
}

.wrapper {
    font-family: 'Poppins', sans-serif;
}

nav {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 307px;
    height: 40px;
    gap: 12px;
}

.nav1 ul li {
    list-style: none;
}

.nav1 ul li a {
    text-decoration: none;
    color: #5C596D;
}


.nav2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 371px;
    height: 40px;
    gap: 32px;
}

.nav2 ul li {
    list-style: none;
}

.nav2 ul li a {
    text-decoration: none;
    color: #5C596D;
    padding: 0 5px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 72px;
}

.head_logo {
    width: 152.02px;
    height: 52px;
    gap: 3px;
}

.head_search input{
    width: 677px;
    height: 48px;
    padding-left: 30px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: #F6F6F6;
}

.extra {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
}

.korzina  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.korzina a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
    color: #3a3d3a;
}

.nav {
    background-color: #F8F8F8;
}

.nav ul{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    height: 40px;
    gap: 24px;
}

.nav ul li {
    list-style: none;
    padding: 8px 16px 8px 16px;
}

.nav ul li a {
    text-decoration: none;
    color: #5C596D;
}

.nav_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}









.main {
    padding-top: 50px;
}

.phone_information {
    padding-bottom: 62px;
    
}

.phone_information_title {
    width: 1296px;
    /* height: 490px; */
}

.telefon {
    width: 367.2px;
    height: 122px;
}

.glavniy{
    width: 344px;
    height: 22px;
    display: flex;
    gap: 8px;
}

.glavniy h2, .glavniy h3, .glavniy h4 {
    font-size: 16px;
    color: #9692B0;
    
}

.glavniy h2 {
    border-right: solid 1px #9692B0;
    padding-right: 10px;
}

.glavniy h3 {
    border-right: solid 1px #9692B0;
    padding-right: 10px;
}

.phone_title {
    margin-top: 10px;
}

.phone_title h1{
    font-size: 24px;
    color: #5C596D;
}

.otziv {
    margin-top: 15px;
    display: flex;
    gap: 16px;
}

.otziv_star img{
    width: 21px;
    height: 21px;
    cursor: pointer;
}

.otziv h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 32px;
    font-size: 13px;
    color: #1D1A2F;
    background-color: #f6f6f6;
    border-radius: 55px;
    cursor: pointer;
}

.honor {
    display: flex;
    /* gap: 24px; */
    justify-content: space-between;
    
}

.honors {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-right: 10px;
    border-right: solid 3px #F2F2F2;
}

.honor_50 {
    width: 345px;
    display: flex;
    gap: 16px;
    border-right: solid 3px #F2F2F2;
}

.honor_img {
    width: 244px;
    height: 323px;
    overflow: hidden;
    margin-top: 20px;
}

.honor_img img{
    width: 100%;
    height: 100%;
}

.honor_icons {
    margin-top: 20px;
}

.honor_icons img {
    margin: 0 5px;
}

.honor_sale {
    width: 210px;
}

.honor_sale h1 {
    font-size: 14px;
    color: #1D1A2F;
}

.honor_text {
    width: 119px;
    height: 71px;
    margin-top: 40px;
}

.honor_text h2 {
    font-size: 16px;
    color: #9692B0;
}

.honor_color {
    display: flex;
    margin-top: 20px;
    gap: 8px;
}

.honor_color h3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ff4141;
    transition: all 0.3s;
}

.honor_color h3:hover {
    outline: 1px solid rgb(61, 61, 229);
    outline-offset: 5px;
    width: 32px;
    height: 32px;
}

.honor_color h3:nth-child(2) {
    background-color: #888888;
}

.honor_color h3:nth-child(3) {
    background-color: #3596ef;
}

.honor_memory {
    width: 210px;
    height: 60px;
    margin-top: 40px;
}

.honor_memory h1 {
    font-size: 16px;
    color: #9692B0;
}

.gb {
    width: 210px;
    height: 36px;
    display: flex;
    gap: 4px;
}

.gb h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 36px;
    font-size: 16px;
    color: #9692B0;
    border: solid 1px #f8f8fa;
    margin-top: 15px;
    cursor: pointer;
}

.gb h2:hover {
    background-color: #f2f2f2;
}

.honor_sim {
    margin-top: 40px;
}

.honor_sim h1 {
    font-size: 16px;
    color: #9692B0;
}

.honor_region {
    display: flex;
    margin-top: 15px;
    gap: 8px    ;
}

.honor_region h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #9692B0;
    width: 65px;
    height: 36px;
    border: solid 1px #f8f8fa;
    cursor: pointer;
}

.honor_region h2:hover {
    background-color: #f2f2f2;
}

.rasrochka {
    width: 311px;
    height: 344px;
    box-shadow: 0px 0px 20px 0px #00000014;
}

.rasrochka_item {
    width: 247px;
    height: 280px;
    margin: 32px auto;
}

.rasrochka_item h1 {
    font-size: 20px;
    color: #9692B0;
    font-weight: 700;
}

.rasrochka_item h1 span {
    color: #1D1A2F;
}

.rasrochka_item h2 {
    font-size: 15px;
    font-weight: 500;
    color: #9692B0;
    margin-top: 15px;
}

.rasrochka_item h2 span {
    color: #1D1A2F;
}

.rasrochka_skidka {
    display: flex;
    margin-top: 15px;
    gap: 8px;
    color: #1D1A2F;
}

.rasrochka_skidka input {
    cursor: pointer;
}

.rasrochka_korzinka {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 247px;
    height: 40px;
    margin-top: 80px;
    background-color: #1b5bf7;
    gap: 10px;
    color: #fff;
    border-radius: 14px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

.rasrochka_korzinka:hover {
    background-color: #1D1A2F;
    color: #fff;
}

.rasrochka_korzinka img {
    width: 20px;
    height: 20px;
}

.rasrochka_text p {
    margin-top: 20px;
    color: #9692B0;
    font-size: 14px;
}













.tovars {
    margin-top: 80px;
    width: 849px;
}

.tovar_inform {

}

.tovar_items {
    display: flex;
    cursor: pointer;
}

.tovar_items a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #9692B0;
    background-color: #F6F6F6;
    text-decoration: none;
}

.tovar_items a:nth-child(3) {
    color: #0d4ef3;
}

.tovar_items a:hover {
    color: #0f2d81;
}

.tovar_items a:nth-child(1) {
    width: 103px;
    height: 52px;
}

.tovar_items a:nth-child(2) {
    width: 202px;
    height: 52px;
}

.tovar_items a:nth-child(3) {
    width: 95px;
    height: 52px;
}

.tovar_items a:nth-child(4) {
    width: 110px;
    height: 52px;
}







.coments {
    margin-top: 30px;
}

.napisat_otziv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #f4f7ff;
    border-radius: 4px;
    cursor: pointer;
}

.napisat_otziv h1 {
    font-size: 14px;
    color: #1B5BF7;
}

.adrian {
    margin-top: 20px;
    width: 742px;
    height: 188px;
    background-color: #f6f6f6;
}

.adrian_item {
    width: 663px;
    height: 156px;
    margin: 0 auto;
    padding-top: 10px;
}

.adrian_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adrian_name h2 {
    font-weight: 400;
    font-size: 14px;
    color: #3C3C4380;
}

.adrian_text {
    display: flex;
    align-items: center;
    width: 161px;
    height: 40px;
    gap: 8px;
}

.adrian_text img {
    width: 40px;
    height: 40px;
}

.adrian_text h1 {
    font-size: 16px;
    font-weight: 400;
    color: #5C596D;
}

.adrian_information {
    margin-top: 20px;
    width: 600px;
    height: 40px;
}

.adrian_information p {
    font-weight: 400;
    font-size: 15px;
    color: #5C596D;
}

.adrian_likes {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 123px;
    height: 24px;
}

.like {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 48px;
    height: 24px;
} 

.like img {
    width: 22px;
    height: 20px;
}

.like p, .dislike p {
    color: #5C596D;
    font-size: 16px;
    font-weight: 400;
}

.dislike {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 48px;
    height: 24px;
}

.dislike img {
    width: 22px;
    height: 20px;
    margin-top: 7px;
}

















.section1 {
    padding-top: 80px;  
}

.section2_title h1 {
    font-weight: 700;
    font-size: 24px;
    color: #5C596D;
}

.hit_sales {
    display: flex;
    gap: 40px;
    margin-top: 50PX;
    position: relative;
}

.hit_sales_item {
    width:300px;
    height: 470px;
    background: #fff; 
    padding: 24px 20px 24px 24px;
    box-shadow: 0px 0px 75px 0px #00000014;
    position: relative;
    transition: all 0.4s ease-in;
}

.hit_sales_item:hover {
    width: 340px;
    height: 480px;
    box-shadow: 0px 0px 20px 0px #3a3d3a;
    border-radius: 24px;
}

.hit_sales_item_flex {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    height: 44px;
    background-color: #fff;
    color: #9692B0;
    font-size: 16px;
    border-radius: 24px;
    top: 100px;
    left: 20%;
    opacity: 0;
    cursor: pointer;
}

.hit_sales_item_flex:hover {
    width: 200px;
    height: 50px;
    box-shadow: 0px 0px 20px 0px #3a3d3a;
}

.hit_sales_item_flex{
    text-decoration: none;
    color: #9692B0;
}

.hit_sales_item:hover .hit_sales_item_flex {
    opacity: 1;
    transition: all 0.4s ease-in;
    font-size: 14px;
}



.hit_sales_image {
    width: 252px;
    height: 179px;

}

.hit_sales_image img {
    width: 100%;
    height: 100%;
}

.hit_sales_content h2, .hit_sales_content h3{
    margin-top: 20px;
    color: #5C596D;
}

.hit_sales_content h2 {
    color: #000;
    font-size: 20px;
}

.hit_sales_content h3{
    font-size: 16px;
}

.hit_sales_content_star {
    margin-top: 10px;
}

.hit_sales button {
    margin-top: 20px;
    width: 131px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b5bf7;
    color: #fff;
    border: none;
    border-radius: 24px;
    transition: all 0.3s ease-in;
}

.hit_sales_button button span{
    font-size: 14px;
}

.hit_sales button:hover {
    background-color: #e0e8ff;
    color: #7199fa;
}

.hit_sales button img {
    margin: 0 10px 0 0;
}

.hit_sales_button {
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.hit_sales_button_icon img{
    margin-right: 15px;
}

















.footer {
    margin-top: 80px;
}

.footer_item {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.company, ul li {
    list-style: none;
}

.company ul li:nth-child(2) {
    padding-top: 10px;
    color: #898694;
}

.company ul li:nth-child(3) {
    padding-top: 5px;
    color: #898694;
}

.information ul li:nth-child(2) {
    padding-top: 10px;
    color: #898694;
}

.information ul li:nth-child(3) {
    padding-top: 6px;
    color: #898694;
}

.information ul li:nth-child(4) {
    padding-top: 5px;
    color: #898694;
}

.help ul li:nth-child(2) {
    padding-top: 10px;
    color: #898694;
}

.help ul li:nth-child(3) {
    padding-top: 6px;
    color: #898694;
}

.help ul li:nth-child(4) {
    padding-top: 5px;
    color: #898694;
}

.paymant img {
    padding-top: 10px;
}

.facebok {
    padding-top: 10px;
}

.footer_item2 {
    display: flex;
    gap: 140px;
    padding-top: 50px;
    padding-left: 60px;
}

.footer_item_first ul li:nth-child(2){
    padding-top: 10px;
    color: #898694;
}

.footer_item_second ul li:nth-child(2) {
    padding-top: 10px;
    color: #898694;   
}

.end {
    padding: 80px 0;
    text-align: center;
}

span {
    font-size: 16px;
}